<h1>Crear Producto</h1>

<form action="/products/add-product" method="post">
    <label for="title">Título:</label> 
    <input type="text" id="title" name="title" value="{{this.title}}" required pattern="\S+.*" title="El título no puede estar vacío.">
    <br/><br/>

    <label for="description">Descripción:</label>
    <textarea id="description" name="description" required pattern="\S+.*" title="La descripción no puede estar vacía.">{{this.description}}</textarea>
    <br/><br/>
    
    <label for="code">Código:</label>
    <input type="text" id="code" name="code" value="{{this.code}}" required pattern="\S+.*" title="El código no puede estar vacío.">
    <br/><br/>

    <label for="category">Categoría:</label>
    <input type="text" id="category" name="category" value="{{this.category}}" required pattern="\S+.*" title="La categoría no puede estar vacía.">
    <br/><br/>

    <label for="price">Precio:</label>
    <input type="text" id="price" name="price" value="{{this.price}}" required pattern="^\d+(\.\d{1,2})?$" title="El precio debe ser un número positivo con hasta dos decimales.">    <br/><br/>
    <br/><br/>

    <label for="status">Estado:</label>
    <select id="status" name="status">
        <option value="true">Disponible</option>
        <option value="false">No disponible</option>
    </select>
    <br/><br/>

      <label for="stock">Stock:</label>
    <input type="number" id="stock" name="stock" value="{{this.stock}}" required min="0" title="El stock no puede ser negativo.">
    <br/><br/>

    <label for="image">Imagen:</label>
    <input type="text" id="image" name="image" value="{{this.image}}" required pattern="\S+.*" title="La imagen no puede estar vacía.">
    <br/><br/>

    <button type="submit">Guardar</button>
</form>
<div>
    <form action="/products" method="get">
        <button type="submit">Volver</button>
    </form>
</div>

Descripción del producto 1
https://img11.com; https://img12.com; 